html,body{
  margin:0px;
  padding:0px;
}

*{
box-sizing: border-box;
}

.menu{
    height: 20px;
}
.menu-options{
    height: 68px;
    border: 1px gray solid;
}

.formulaBar{

    height: 20px;
    border: 2px solid yellow;
}

.cell-container{

    height: calc(100vh - 128px);
    overflow: auto;
}
.sheets{
    height: 10px;
    border: 2px pink solid;
}
.row{
    display: flex;
}
.col{
    border:1px teal solid;
    min-width: 75px;
    height: 23px;
}